<div class="container p-3 formDetails">
  <div class="heading">
    <h1>Existing Products</h1>
  </div>
  <div class="mr-3 ml-3">
    <div class="row">
      <div class="col-md-4 mt-2 mb-2" *ngFor="let prod of products">
        <div class="card  p-3 cardData">
          <div class="text-center">
            <img class="card-img-top" src="{{prod.image}}" alt="Card image cap">
          </div>
          <div class="card-body">
            <h6 class="card-title text-center">{{prod.name}}</h6>
            <div class="row">
              <h6 class="text-left col-md-5">Quantity: {{prod.quantity}}</h6>
              <h6 class="text-right col-md-7">Cost: {{prod.cost | currency: prod.currency}}</h6>
            </div>
            <p class="card-text description">{{pDescription(prod.description)}}
              <span *ngIf="displayMoreDescription(prod.description)">........</span>
            </p>
          </div>
          <div class="text-center">
            <button class="btn btn-primary text-center" [routerLink]="'/productList/'+prod.id">Product Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
