.formDetails{
  background-color: #f8fafc ;
  min-height: 880px;
  color: #6a7780
}

.btn-primary {
  background-color: #7b9baf ;
}

.heading {
  text-align: center;
  margin-bottom: 10px;
}

.image-lbl{
  margin-left: 15px;
  margin-right: 15px;
  color: #6a7780;
}

#inputState {
  padding-left: 10px;
  color: #6a7780;
}

.details-image img{
  height: 196px;
}
